@use '../mixins' as m;
@use '../vars' as v;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 24px;
    z-index: 1000;

    &.line-blur {
        backdrop-filter: blur(10px)
    }

    .header-wrapper {
        @include m.flex(flex, space-between, center);

        .logo {
            @include m.font(30px, 600);
            color: v.$color-white;
        }

        .menu {
            display: flex;
            column-gap: 60px;

            .menu-link {
                position: relative;
                color: v.$color-white;
                @include m.font(16px, 400);

                &:after {
                    @include m.position(absolute, bottom, -10px, left, 0);
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: v.$color-white;
                    opacity: 0;
                    transition: .3s;
                }
            }

            .menu-link:hover::after {
                width: 50%;
                opacity: 1;
            }
        }
    }
}