@use '../mixins' as m;
@use '../vars' as v;

.home {

    min-height: 500px;
    background: 
    linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%),
    url('/../assets/image/bg_home.jpg');
    background-size: cover;
    background-position: center;

    .icon-play {
        width: 150px;
        height: 150px;
        scale: 1;
        transition: .3s;

        &:hover {
            scale: 1.1;
        }
    }
    

    .home-wrapper {
        display: flex;
        padding-top: 300px;

        .home-content {
            max-width: 600px
        }

        .home-title {
            @include m.font(50px, 600);
        }

        .home-desc {
            @include m.font(18px, 400);
            padding-block: 20px;
        }

        .btn-play {
            font-size: 150px;
            color: v.$color-white;
            margin-left: 200px;
            font-weight: 100;
        }
    }
}

.popup-video {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    z-index: 99;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    .popup-video-content {
        position: relative;

        .close-btn-box {
        position: absolute;
        top: -30px;
        right: -30px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: #181818;
        cursor: pointer;
    }
    }

    

    .close-btn {
       font-size: 50px;
    }
}